.App {
  text-align: center;
  height: 100vh;
}

.app-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(./resources/stars_background.png);
  min-height: 100vh;
}

.dark-blue-container {
  background-color: #040b1b;
}

.slide-pane__content {
  background-image: url(./resources/stars_with_grass_background.png);
}

.pane-overlay {
  z-index: 10;
  position: relative;
  max-width: 500px;
}

.carousel {
  z-index: 0;
}

.popover-body {
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-wrap;
}

.portfolio-info,
.watchlist-info {
  box-shadow: 3px 3px 8px #888888;
  margin: 10px;
  
}

.portfolio-details {
  overflow-y: auto;
  overflow-x: hidden;
  height: 15vh;
}

.portfolio-controls,
.watchlist-controls {
  height: 50px;
  width: 60px;
}

div.financials-container-scrolling {
  overflow-y: auto;
  max-height: 500px;
  height: 500px;
}

div.generic-container-scrolling {
  overflow-y: auto;
  max-height: 550px;
  height: 550px;
}

div.financials-subhead-1 {
  padding-left: 50px;
}

div.financials-subhead-2 {
  padding-left: 100px;
}

div.financials-subhead-3 {
  padding-left: 125px;
}

.trending-investment {
  margin: 20px;
  max-width: 250px;
}

.footer {
  box-shadow: 0px 0px 5px grey;
}
